// background variables
$greenBackground: #65a93c;
$grayBackground: #f2f2f2;

// btn variables
$greenBtn: #68b738;
$grayBtn: #f2f2f2;

// border variables
$grayBorder: #eaeaea;
$grayBottom: #cfcfcf;
$inputBorder: #e6e6e6;

// text variables
$blackText: #111111;
$grayText: #444444;
$grayPlus: #d3d3d3;

$whiteColor: #ffffff;
