.btn {
  display: inline-block;
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;

  &--selection {
    text-align: center;
    background-color: $greenBtn;
  }

  &--order {
    @include OswaldRegular;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: $greenBtn;
  }

  &--show {
    @include OswaldRegular;
    font-size: 16px;
    line-height: 20px;
    color: $grayText;
    background-color: $grayBtn;
  }
}

@media (min-width: $tablet-width) {
  .btn--selection {
    width: 245px;
  }

  .btn--order {
    width: 245px;
  }

  .btn--show {
    width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .btn--order {
    width: 170px;
  }

  .btn--show {
    width: 170px;
  }
}
