.green-border {
  position: relative;
  padding: 18px;
  padding-top: 50px;
  border: none;
  border-top: 3px solid $greenBorder;

  &--comment {
    margin-top: 11px;
    padding-top: 28px;
    padding-left: 20px;
  }

  &--extra {
    margin-top: 13px;
    padding-top: 30px;
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .green-border {
    &--comment {
      padding-left: 69px;
    }
  }
}
