.index-catalog {
  padding: 20px;
}

.index-catalog-list {
  @include ClearList;
}

.index-catalog-list__item {
  background-color: $grayBackground;
  font-family: "Arial", sans-serif;
  color: $grayText;
  margin: 0;
  margin-bottom: 27px;
  padding: 10px;

  .index-catalog-list__text {
    margin: 10px;
    margin-bottom: 15px;
    padding: 0;
    padding-bottom: 21px;
    border-bottom: 1px solid $grayBorder;
    font-size: 14px;
    line-height: 18px
  }

  .index-catalog-list__link {
    @include OswaldRegular;
    text-decoration: none;
    text-transform: uppercase;
    color: $blackText;
    padding-left: 10px;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      left: 108px;
      width: 24px;
      height: 11px;
      background-image: url("../img/icon-right-arrow-long.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &:last-child {
    margin-bottom: 4px;
  }
}

.index-catalog-list__title {
  @include OswaldRegular;
  text-transform: uppercase;
  margin: 0;
  padding: 14px 12px;
  font-size: 24px;
  line-height: 37px;
  color: $blackText;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $greenBackground;
    margin-right: 20px;
  }

  &--slim::after {
    content: "";
    display: block;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 13px;
    left: 21px;
  }

  &--pro::after {
    content: "";
    display: block;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 26px;
    left: 4px;
  }
}

@media (min-width: $desktop-width) {
  .index-catalog-list {
    display: flex;
    justify-content: space-between;
  }

  .index-catalog-list__item {
    width: 570px;
    min-height: 375px;
    box-sizing: border-box;
  }
}
