.nav-list {
  @include ClearList;
  @include OswaldMedium;
  text-align: center;
}

.nav-list__item {
  border-top: 1px solid $grayBorder;
  padding-top: 22px;
  padding-bottom: 23px;
}

.nav-list__link {
  color: $blackText;
  text-decoration: none;
  border-bottom: 2px solid $greenBorder;
  padding-bottom: 7px;

  &[href] {
    border: none;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .nav-list {
    @include OswaldRegular;
    display: flex;
    justify-content: space-between;
  }

  .nav-list__link {
    font-size: 18px;
    line-height: 25px;
  }

  .nav-list__item {
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .nav-list {
    width: 478px;
    margin: 0;
    justify-content: space-between;
  }

  .nav-list__item {
    margin: 0;

    .nav-list__link--index {
      border-bottom: 2px solid $whiteColor;
      color: $whiteColor;

      &[href] {
        border: none;
      }
    }
  }

  .nav-list__link {
    font-size: 20px;
    line-height: 25px;
  }
}
