.page-footer {
  margin: 0;
  padding: 0;
}

.page-footer__bottom {
  background-color: $grayBackground;
  padding: 20px;
}

.page-footer__title {
  display: block;
  text-align: center;
  margin: 0;
  padding-top: 34px;
  padding-bottom: 28px;
  border-bottom: 1px solid $grayBorder;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  border-top: 1px solid $grayBorder;
}

@media (min-width: $tablet-width) {
  .page-footer__bottom {
    display: flex;
    align-items: center;
    min-height: 150px;
    box-sizing: border-box;
  }

  .page-footer__title {
    border-bottom: none;
  }

  .page-footer__copyright {
    border-top: none;
  }
}
