.page-footer {
  margin: 0;
  padding: 0;
}

.page-footer__bottom {
  background-color: $grayBackground;
  padding: 20px;
}

.page-footer__title {
  display: block;
  text-align: center;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 28px;
  border-bottom: 1px solid $grayBorder;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $grayBorder;
  padding-top: 10px;
}

@media (min-width: $tablet-width) {
  .page-footer__bottom {
    display: flex;
    align-items: center;
    min-height: 150px;
    box-sizing: border-box;
    padding: 32px;
  }

  .page-footer__title {
    padding-top: 31px;
    border-bottom: none;
  }

  .page-footer__copyright {
    border-top: none;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__bottom {
    padding-left: 109px;
    padding-right: 111px;
  }

  .page-footer__copyright {
    margin-top: 6px;
  }
}
