.product {
  @include ClearList;
}

.product__item {
  border-bottom: 1px solid $grayBorder;
  padding: 0 20px;
  font-family: "Arial", sans-serif;
  color: $grayText;
  position: relative;
  display: flex;
  justify-content: space-around;
  min-height: 208px;
}

.product__item-link {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 140px;
  height: 144px;
}

.product__link {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
}

.product__table {
  width: 140px;
  margin-top: 20px;
  margin-bottom: 18px;
  border-collapse: collapse;
}

.product__title {
  text-align: left;
  width: 80px;
  margin-bottom: 10px;

  .product__title-link {
    @include OswaldRegular;
    color: $blackText;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
  }

  &--additional {
    @include OswaldRegular;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    width: 130px;
    margin-left: 2px;
  }
}

.product__property,
.product__value {
  font-size: 12px;
  line-height: 16px;

  &--additional {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 14px;
  }
}

.product__property {
  text-align: left;
}

.product__value {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .product {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product__item {
    width: 324px;
    min-height: 430px;
    box-sizing: border-box;
    display: block;
    border-bottom: none;
    background-color: $grayBackground;
    margin-top: 96px;
    margin-bottom: 45px;
    padding: 0;

    .product__link {
      bottom: 40px;
    }
  }

  .product__item-link {
    position: relative;
    width: 324px;
    height: 208px;
    background-repeat: no-repeat;

    &--small {
      bottom: 45px;
    }

    &--big {
      bottom: 80px;
    }
  }

  .product__table {
    position: relative;
    bottom: 44px;
    margin: auto;
    width: 250px;

    .product__property,
    .product__value {
      border-bottom: 1px solid $grayBottom;
      font-size: 16px;
      line-height: 16px;
      padding: 7px 0;
    }
  }

  .product__title {
    margin: auto;
    width: 140px;
    text-align: center;
    margin-bottom: 16px;

    .product__title-link {
      font-size: 20px;
      line-height: 20px;
    }

    &--additional {
      margin: 0;
      margin-bottom: 13px;
      text-align: left;
      font-size: 20px;
      line-height: 20px;
    }
  }

  .product__property,
  .product__value {
    &--additional {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .product__property {
    &--additional {
      margin-right: 48px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    &--additional {
      display: flex;
    }
  }

  .product__item {
    margin-top: 94px;
    margin-left: 10px;
    margin-bottom: 50px;
    width: 245px;
  }

  .product__item-link {
    width: 245px;
    height: 208px;
  }

  .product__table {
    width: 166px;
  }

  .product__property {
    &--additional {
      width: 238px;
      margin-right: 0;
    }
  }

  .product__value {
    &--additional {
      width: 47px;
      text-align: left;
    }
  }
}
